<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">MongoScraper</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/">Saved Articles</a></li>
      <li><button id="scraperButton">Get New Articles</button></li>
    </ul>
  </div>
</nav>

<script type="text/javascript">
  $(document).ready(function () {
    console.log("loaded app.js");
    $("#scraperButton").on("click", function (e) {
      e.preventDefault();
      console.log("pressed scraper button");
    });
  });
</script>